form
{
	margin-left: 90px;
	line-height: 45px;
}
label
{
	font-size: 25px;
}
select
{
	margin-left:20px;
	height: 30px;
	width: 260px;
	font-size: 25px;
}
input[type='text']
{
	margin-left:20px;
	height: 30px;
	width: 260px;
	font-size: 25px;
}
textarea
{
	margin-left:20px;
	resize: none;
	width: 260px;
	height: 150px;
	font-size: 25px;
}
button
{
	text-align: center;
	height: 50px;
	font-size: 45px;
	width: 140px;
}