.middel-section
{
	height: 520px;
}
.middel-section .form-section table
{
	width: 600px;
	margin-top:90px;
	box-shadow: 5px 5px 2px #BFD4FA;
}
.middel-section .form-section table .form-title
{
	height: 100px;
	font-size: 80px;
	font-weight: bolder;
	text-align: center;
}
.middel-section .form-section table .input-heading
{
	height: 40px;
	width: 200px;
	font-size: 30px;
	text-align: center;
}
input[type='text']
{
	width: 300px;
	height:30px;
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom:25px;
	font-size: 25px;
	border-top-style: hidden;
  	border-right-style: groove;
  	border-left-style: hidden;
  	border-bottom-style: groove;
  	padding-left: 10px;
}
input[type='text']:hover
{
	width: 300px;
	height:30px;
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom:25px;
	font-size: 25px;
	border-top-style: hidden;
  	border-right-style: hidden;
  	border-left-style: hidden;
  	border-bottom-style: hidden;
  	box-shadow: 2px 2px 0.2px #47F638;
  	padding-left: 10px;
}
 input[type='password']
{
	width: 300px;
	height:30px;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom:25px;
	font-size: 25px;
	border-bottom: 1px;	
	border-top-style: hidden;
  	border-right-style: groove;
  	border-left-style: hidden;
  	border-bottom-style: groove;
  	padding-left: 10px;
}
 input[type='password']:hover
{
	width: 300px;
	height:30px;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom:25px;
	font-size: 25px;
	border-bottom: 1px;	
	border-top-style: hidden;
  	border-right-style: groove;
  	border-left-style: hidden;
  	border-bottom-style: groove;
  	box-shadow: 2px 2px 0.2px #47F638;
  	padding-left: 10px;
}
select
{
	width: 300px;
	height:30px;
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom:25px;
	font-size: 25px;	
	border-top-style: hidden;
  	border-right-style: groove;
  	border-left-style: hidden;
  	border-bottom-style: groove;
  	padding-left: 10px;
}
input[type='submit']
{
	width: 200px;
	height: 60px;
	margin-left: 20px;
	margin-top: 25px;
	margin-bottom:25px;
	font-size: 35px;
	background-color: #3578f6;
	color: white;
	font-weight: bolder;
	border: none;
}
input[type='submit']:hover
{
	width: 200px;
	height: 60px;
	margin-left: 20px;
	margin-top: 25px;
	margin-bottom:25px;
	font-size: 35px;
	background-color: #3578f6;
	color: white;
	font-weight: bolder;
	border: none;
	box-shadow: 8px 8px 3px #C5D8FC;
}
.middel-section .form-section table .btn-table-td
{
	height: 60px
}