		.working-space
		{
			margin-left: 80px;
			margin-right: 20px;
			padding-left: 55px;
		}
		.working-space .form-title
		{
			text-align: center;
			font-size: 40px;
			font-weight: bold;
			margin-bottom: 25px;
		}
		.table1
		{
			margin-top: 20px;
			float: left;
			line-height: 50px;
		}
		.table12
		{
			float: left;
			margin-left: 150px;
		}
		.table1 label
		{
			font-size: 25px;
		}
		select
		{
			width: 247px;
			margin-left: 30px;
			height: 30px;
			padding-left: 10px;
			font-size: 15px;
			margin-right: 25px;

		}
		input[type='text']
		{
			width: 230px;
			margin-left: 30px;
			height: 30px;
			padding-left: 10px;
			font-size: 20px;
			margin-right: 25px;
			/*text-transform: uppercase;*/
		}
		select:focus
		 {
       	 	width: 250px;
   		 }
		input[type='reset']
		{
			height: 50px;
			width: 110px;
			font-size: 30px;
			border: none;
			background-color: #e11d1db5;
		}
		input[type='reset']:hover
		{
			height: 50px;
			width: 110px;
			font-size: 30px;
			border: none;
			background-color: #e70a0ad4;
		}
		input[type='submit']
		{
			margin-left: 15px;
			height: 50px;
			width: 110px;
			font-size: 30px;
			border: none;
			background-color: #18d418;
		}
		input[type='submit']:hover
		{
			margin-left: 15px;
			height: 50px;
			width: 110px;
			font-size: 30px;
			border: none;
			background-color: #089408;
		}
		.buton-area
		{
			margin-left: 350px;
			margin-top:30px;
		}